<template>
  <div>
    <ul class="nav-list">
      <li class="nav-item"><nuxt-link to="#category">Category</nuxt-link></li>
      <li class="nav-item"><nuxt-link to="#product">Product</nuxt-link></li>
      <li class="nav-item"><nuxt-link to="#contact">Contact</nuxt-link></li>
    </ul>
  </div>
</template>

<style scoped lang="scss">
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-item {
  margin: 0 10px;
}
.nav-item a {
  text-decoration: none;
  color: #333;
}
.nav-item a:hover,
.nav-item a:active {
  color: #b4b4b4;
}
@media (max-width: 767px) {
  .nav-list {
    display: block;
  }
  .nav-item {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}
</style>
