<template>
  <div>
    <div class="row">
      <h1>Our Products</h1>
      <div v-for="(post, index) in posts" :key="index" class="column">
        <div class="wrapper">
          <div class="container">
            <img class="top" :src="post.fields.images" alt="shoes" />
            <div class="bottom">
              <div class="left">
                <div class="details">
                  <p style="margin: 0">{{ post.fields.name }}</p>
                  <p>Rp. {{ post.fields.price }}</p>
                </div>
                <div class="buy">
                  <nuxt-link :to="'/detail-produk/' + post.fields.id">
                    <p>See Details</p>
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
          <div class="inside">
            <div class="icon"><i class="material-icons">Stock</i></div>
            <div class="contents">
              <table>
                <tr>
                  <th>Brand</th>
                  <th>Category</th>
                </tr>
                <tr>
                  <td>{{ post.fields.brand }}</td>
                  <td>{{ post.fields.category }}</td>
                </tr>
                <tr>
                  <th>Stock</th>
                </tr>
                <tr>
                  <td>{{ post.fields.stocks }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Card',
  props: {
    posts: {
      type: Array,
      default: () => [],
    },
  },
}
</script>
<style scoped lang="scss">
/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}
.wrapper {
  width: 300px;
  height: 480px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  /*box-shadow: 0;*/
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  }

  .container {
    width: 100%;
    height: 100%;
    .top {
      width: 90%;
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      display: flex;
      justify-content: center;
      top: 90px;
      position: absolute;
    }
    .bottom {
      position: absolute;
      bottom: 0;
      clear: both;
      width: 200%;
      height: 20%;
      transition: transform 0.5s;
      &.clicked {
        transform: translateX(-50%);
      }
      h1 {
        margin: 0;
        padding: 0;
      }
      p {
        padding: 0;
      }
      .left {
        height: 100%;
        width: 44.8%;
        background: #f4f4f4;
        position: relative;
        float: left;
        .details {
          padding: 20px;
          float: left;
          width: calc(70% - 40px);
        }
        .buy {
          text-transform: uppercase;
          text-align: center;
          float: right;
          width: calc(30% - 2px);
          height: 100%;
          background: #f1f1f1;
          transition: background 0.5s;
          border-left: solid thin rgba(0, 0, 0, 0.1);
          &:hover {
            background: #a6cdde;
          }
        }
      }
    }
  }

  .inside {
    z-index: 9;
    background: #ffd480;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0 0 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
    .icon {
      position: absolute;
      right: 85px;
      top: 85px;
      color: white;
      opacity: 1;
    }
    &:hover {
      width: 100%;
      right: 0;
      top: 0;
      border-radius: 0;
      height: 80%;
      .icon {
        opacity: 0;
        right: 15px;
        top: 15px;
      }
      .contents {
        opacity: 1;
        transform: scale(1);
        transform: translateY(0);
      }
    }
    .contents {
      padding: 5%;
      opacity: 0;
      transform: scale(0.5);
      transform: translateY(-200%);
      transition: opacity 0.2s, transform 0.8s;
      table {
        text-align: left;
        width: 100%;
      }
      h1,
      p,
      table {
        color: white;
      }
      p {
        font-size: 13px;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1020px) {
  .column {
    float: left;
    width: 33%;
    padding: 0 10px;
  }
}
</style>
