<template>
  <div>
    <h1>Our Collections</h1>
    <div class="row">
      <div class="column">
        <div class="card">
          <img class="image" src="./../assets/images/sport.png" alt="shoes" />
          <p>Sports Shoes</p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img class="image" src="./../assets/images/sneaker.png" alt="shoes" />
          <p>Sneakers Shoes</p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img class="image" src="./../assets/images/casual.png" alt="shoes" />
          <p>Casual Shoes</p>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped lang="scss">
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.image {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
</style>
