<template>
  <div>
    <div id="contact" class="footer">
      <div class="inner-footer">
        <!--  for company name and description -->
        <div class="footer-items">
          <h1>Company Name</h1>
          <p>Description of any product or motto of the company.</p>
          <img class="logo" src="./../assets/images/Evermos.png" alt="logo" />
        </div>

        <!--  for quick links  -->
        <div class="footer-items">
          <h3>Quick Links</h3>
          <div class="border1"></div>
          <!--for the underline -->
          <ul>
            <a href="#home"><li>Home</li></a>
            <a href="#category"><li>Category</li></a>
            <a href="#product"><li>Product</li></a>
            <a href="/"><li>Contact</li></a>
          </ul>
        </div>

        <!--  for some other links -->
        <div class="footer-items">
          <h3>Social Media</h3>
          <div class="border1"></div>
          <!--for the underline -->
          <ul>
            <a href="#"
              ><li>
                <img
                  class="icon"
                  src="./../assets/images/instagram.svg"
                  alt=""
                />
                &nbsp; Instagram
              </li></a
            >
            <a href="#"
              ><li>
                <img
                  class="icon"
                  src="./../assets/images/facebook.svg"
                  alt=""
                />
                &nbsp; Facebook
              </li></a
            >
            <a href="#"
              ><li>
                <img
                  class="icon"
                  src="./../assets/images/google-plus.svg"
                  alt=""
                />
                &nbsp; Google Plus
              </li></a
            >
          </ul>
        </div>

        <!--  for contact us info -->
        <div class="footer-items">
          <h3>Contact us</h3>
          <div class="border1"></div>
          <ul>
            <li>
              <img class="icon" src="./../assets/images/location.svg" alt="" />
              &nbsp; abc, def ghijk
            </li>
            <li>
              <img
                class="icon"
                src="./../assets/images/phone-ringing.svg"
                alt=""
              />
              &nbsp;0125702057025
            </li>
            <li>
              <img class="icon" src="./../assets/images/email.svg" alt="" />
              &nbsp; test@gmail.com
            </li>
          </ul>
        </div>
      </div>

      <!--   Footer Bottom start  -->
      <div class="footer-bottom">
        Copyright &copy; for test in evermos {{ year }}.
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Footer',
  data() {
    return {
      year: '',
    }
  },
  created() {
    this.getFooterYear()
  },
  methods: {
    getFooterYear() {
      const date = new Date()
      this.year = date.getFullYear()
    },
  },
}
</script>
<style scoped lang="scss">
/* FOOTER */
.footer {
  width: 100%;
  background: #333;
  display: block;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #fff;
}

.footer-items p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  color: #fff;
}

.footer-items h1 {
  color: #fff;
}

.border1 {
  height: 3px;
  width: 40px;
  background: #ff9800;
  color: #ff9800;
  background-color: #ff9800;
  border: 0px;
}

ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}

ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}

ul a:hover {
  color: #ff9800;
}

ul li {
  margin: 10px 0;
  height: 25px;
}

li i {
  margin-right: 20px;
}

.social-media {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  height: 25px;
  width: 25px;
  margin: 20px 10px;
  padding: 4px;
  color: #fff;
  transition: 0.5s;
}

.social-media i:hover {
  transform: scale(1.5);
}

.footer-bottom {
  padding: 10px;
  background: #333;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.icon {
  width: 16px;
  height: 16px;
}

.logo {
  width: 120px;
  height: 120px;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
  .footer-items {
    width: 50%;
  }
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
  .footer-items {
    width: 100%;
  }
}
</style>
