<template>
  <div>
    <header>
      <div class="brand-name">
        <nuxt-link to="/">EVERMOS</nuxt-link>
      </div>

      <div
        class="drawer-toggle"
        role="button"
        @click="$store.dispatch('nav/toggleSidebar')"
      >
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>

      <div class="app-links">
        <AppLink></AppLink>
      </div>
    </header>
  </div>
</template>

<script>
import AppLink from '~/components/AppLink'
export default {
  components: { AppLink },
}
</script>

<style scoped>
header {
  display: grid;
  grid-template: 60px / auto 1fr;
  align-items: center;
  background-color: transparent;
}
.app-links {
  justify-self: end;
}
.brand-name {
  margin: 0 10px;
  font-size: 1.3rem;
}
.brand-name a {
  text-decoration: none;
  color: #333;
}
.drawer-toggle .bar {
  width: 90%;
  height: 2px;
  background-color: #333;
}
.drawer-toggle {
  display: flex;
  justify-self: end;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  width: 35px;
  padding-right: 16px;
  cursor: pointer;
}
@media (max-width: 767px) {
  header {
    padding: 0 16px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  header:nth-child {
    justify-self: end !important;
  }
  .app-links {
    display: none;
  }
}
@media (min-width: 768px) {
  header {
    padding: 0 64px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .app-links {
    display: block;
  }
  .drawer-toggle {
    display: none;
  }
}
</style>
