<template>
  <div>
    <section class="hero banner">
      <div class="hero-banner">
        <div class="buy-grid container">
          <div class="hero-image-wrapper">
            <img
              v-if="detailProduk.fields.images"
              :src="detailProduk.fields.images"
              class="hero-image-element"
              alt="alt"
            />
            <p v-else>gambar tidak tersedia</p>
          </div>
          <header class="header">
            <h1 v-if="detailProduk.fields.name">
              {{ detailProduk.fields.name }}
            </h1>
            <h1 v-else>Belum ada data nama</h1>
            <h4 v-if="detailProduk.fields.price">
              Rp.{{ detailProduk.fields.price }}
            </h4>
            <h4 v-else>belum ada data harga</h4>
            <h4 v-if="detailProduk.fields.stocks">
              Stocks :{{ detailProduk.fields.stocks }}
            </h4>
            <h4 v-else>belum ada data stock</h4>
            <h4 v-if="detailProduk.fields.brand">
              Brand :{{ detailProduk.fields.brand }}
            </h4>
            <h4 v-else>belum ada data brand</h4>
            <h4 v-if="detailProduk.fields.category">
              Stocks :{{ detailProduk.fields.category }}
            </h4>
            <h4 v-else>belum ada data category</h4>
          </header>
          <div class="selection">
            <div class="selection-row">
              <h5>Select a size:</h5>
              <div
                v-for="detail in detailProduk.fields.size"
                :key="detail.numbe"
                class="swatch"
              >
                {{ detail.numbe }}
              </div>
            </div>
            <a href="#" class="btn blue block circular">Add to Chart</a>
          </div>
          <div class="specs-table">
            <h4>Specs</h4>
            <div class="specs-table-row">
              <div
                v-for="detailss in detailProduk.fields.specs"
                :key="detailss.spec"
                class="spec-table-label"
              >
                {{ detailss.spec }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import client from '~/plugins/contentful'

export default {
  asyncData({ env, params }) {
    return client
      .getEntries({
        content_type: 'products',
        'fields.id': params.id,
      })
      .then((entries) => {
        return {
          detailProduk: entries.items[0],
        }
      })
      .catch((e) => console.log(e))
  },
  data() {
    return {
      detailProduk: {},
    }
  },
}
</script>
<style scoped lang="scss">
$color: #336699;
$breakpoint: 768px;

.banner {
  display: table;
  height: 650px;
  width: 100%;
}

.hero-banner {
  position: relative;
  background-image: linear-gradient(to top, #ffeecc 20%, #ffd480 80%);
  overflow: hidden;
  display: table-cell;
}
img {
  max-width: 100%;
}

.buy-grid {
  @media (min-width: $breakpoint) {
    padding-top: 8rem;
    padding-bottom: 5rem;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      'hero-image header'
      'hero-image selection'
      'hero-image specs';
  }
}

header {
  grid-area: header;

  h1 {
    margin: 0;
  }
}

.hero-image-wrapper {
  grid-area: hero-image;
  height: 100%;
}

.hero-image-element {
  @media (min-width: $breakpoint) {
    position: sticky;
    top: 0;
    left: 0;
  }
}
@media (max-width: 765px) {
  .hero-image-element {
    max-width: 50% !important;
    padding-top: 8rem;
  }
}

.selection {
  grid-area: selection;
  padding-bottom: 3rem;
}

.selection-row {
  padding-bottom: 2rem;
}

.swatch {
  width: 36px;
  height: 36px;
  background-color: #ededed;
  text-align: center;
  line-height: 36px;
  display: inline-block;
  margin: 8px;
  cursor: pointer;
}
.btn {
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;
  color: #fbdedb;
  background-color: #fbdedb;
  display: inline-block;
  background: #e74c3c;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 0.85em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  position: relative;
}
.btn:hover,
.btn:focus {
  opacity: 0.8;
}
.btn:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

.btn.block {
  display: block !important;
}
.btn.circular {
  border-radius: 50em !important;
}
/* Colours */
.blue {
  background-color: $color;
}

.specs-table {
  padding-bottom: 3rem;
}

.specs-table-row {
  line-height: 1.5em;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-top: 1px solid #ccc;
}

.spec-table-label {
  font-weight: 700;
}

.callout img {
  width: 100%;
}
</style>
