<template>
  <div>
    <section id="home" class="hero banner">
      <div class="hero-banner">
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
        <img
          class="eclipse"
          src="./../assets/images/big-eclipse.svg"
          alt="eclipse"
        />
        <div class="hero-content">
          <article>
            <h1 class="title">More Confident</h1>
            <h3>with</h3>
            <h1 class="title">Your Favorite Shoes</h1>
            <p style="text-align: center">
              Find out your favorite shoes to make your day's activities more
              confident.
            </p>
            <a href="#product" class="btn red block circular"
              >Start to Find Out!</a
            >
          </article>
          <div class="cover">
            <img
              class="image"
              src="./../assets/images/shoe-running-sneakers-clothing-nike.png"
              alt="shoes"
            />
          </div>
        </div>
      </div>
    </section>
    <br />
    <section id="category" class="hero tabled">
      <div class="hero-goods">
        <div class="container">
          <Category></Category>
        </div>
        <br />
        <br />
      </div>
    </section>
    <section id="product" class="hero tabled">
      <div class="hero-cards">
        <div class="container">
          <card :posts="posts"></card>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import Category from '~/components/Category'
import Card from '~/components/Card'
import client from '~/plugins/contentful'
// import Slider from '~/components/Slider'
export default {
  components: {
    // Slider,
    Category,
    Card,
  },
  asyncData() {
    return client
      .getEntries({
        content_type: 'products',
      })
      .then((entries) => {
        return {
          posts: entries.items,
        }
      })
      .catch((e) => console.log(e))
  },
  data() {
    return {
      posts: [],
    }
  },
}
</script>
<style scoped lang="scss">
.banner {
  display: table;
  height: 650px;
  width: 100%;
}
.hero-banner {
  position: relative;
  background-image: linear-gradient(to top, #ffeecc 20%, #ffd480 80%);
  overflow: hidden;
  display: table-cell;
}

.hero-banner .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./../assets/images/wave.png);
  background-size: 1000px 100px;
  display: block;
}

.hero-banner .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.hero-banner .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.hero-banner .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.hero-banner .wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

h1 {
  margin: 0;
  text-align: center;
}
h3 {
  margin: 0;
  text-align: center;
}

.cover {
  height: 100%;
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 1.5s ease;
}

.eclipse {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 0;
  opacity: 0.5;
  height: 82%;
}

.image {
  width: 60%;
  /*height: 400px;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.btn {
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;
  color: #fbdedb;
  background-color: #fbdedb;
  display: inline-block;
  background: #e74c3c;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 0.85em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  position: relative;
}
.btn:hover,
.btn:focus {
  opacity: 0.8;
}
.btn:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.btn.block {
  display: block !important;
}
.btn.circular {
  border-radius: 50em !important;
}
/* Colours */
.red {
  background-color: #d55050;
}

.hero-goods {
  position: relative;
  width: 100%;
  height: auto; //420px;
  background-image: linear-gradient(to bottom, #fff 20%, #ffeecc 80%);
  overflow: hidden;
}
.hero-cards {
  position: relative;
  width: 100%;
  height: auto; //420px;
  background-image: linear-gradient(to bottom, #ffeecc 40%, #ffd480 80%);
  overflow: hidden;
}

@media (min-width: 240px) {
  .hero-content {
    position: relative;
    padding: 7rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
    align-items: center;
  }
}
@media (min-width: 720px) {
  .hero-content {
    padding: 5rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .hero-content {
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
    align-items: center;
  }
}
</style>
